.formInp {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.input {
    width: 300px;
    border: solid 1px rgb(32, 30, 30);
    border-radius: 4px;
    padding: 6px;
    margin-left: 7px;
}

.input:hover,
.input:focus {
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
    border-color: blue;
}

.label {
    color: black;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 20px auto 15px auto;
    background-color: rgb(68, 215, 78);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(204, 202, 230);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
    border-color: blue;
}