.btn {
    display: block;
    width: 100px;
    background-color: rgb(232, 21, 21);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

.btn:hover,
.btn:focus {
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.itemList {
    padding: 10px;
    display: flex;
    font-size: 14px;
    line-height: 1.67;
    letter-spacing: 0.03em;
}